General.Service/Web References/BSS/PrincipalManagement0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.microsoft.com/iptv/bss2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.microsoft.com/iptv/bss2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://www.microsoft.com/iptv/bss2">
      <s:import schemaLocation="http://172.27.65.18/bss/PrincipalManagement.asmx?schema=schema1" namespace="http://www.microsoft.com/iptv/bss" />
      <s:import schemaLocation="http://172.27.65.18/bss/PrincipalManagement.asmx?schema=schema2" namespace="http://microsoft.com/wsdl/types/" />
      <s:include schemaLocation="http://172.27.65.18/bss/PrincipalManagement.asmx?schema=schema3" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RemoveDeviceValuesSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveDeviceValues" />
  </wsdl:message>
  <wsdl:message name="RemoveDeviceValuesSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveDeviceValuesResponse" />
  </wsdl:message>
  <wsdl:message name="SetGlobalValueSoapIn">
    <wsdl:part name="parameters" element="tns:SetGlobalValue" />
  </wsdl:message>
  <wsdl:message name="SetGlobalValueSoapOut">
    <wsdl:part name="parameters" element="tns:SetGlobalValueResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveGlobalValueSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveGlobalValue" />
  </wsdl:message>
  <wsdl:message name="RemoveGlobalValueSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveGlobalValueResponse" />
  </wsdl:message>
  <wsdl:message name="GetGlobalValueSoapIn">
    <wsdl:part name="parameters" element="tns:GetGlobalValue" />
  </wsdl:message>
  <wsdl:message name="GetGlobalValueSoapOut">
    <wsdl:part name="parameters" element="tns:GetGlobalValueResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGRCMembershipSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGRCMembership" />
  </wsdl:message>
  <wsdl:message name="UpdateGRCMembershipSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGRCMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="SetGRCMembershipSoapIn">
    <wsdl:part name="parameters" element="tns:SetGRCMembership" />
  </wsdl:message>
  <wsdl:message name="SetGRCMembershipSoapOut">
    <wsdl:part name="parameters" element="tns:SetGRCMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveGRCMembershipSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveGRCMembership" />
  </wsdl:message>
  <wsdl:message name="RemoveGRCMembershipSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveGRCMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="GetGRCMembershipSoapIn">
    <wsdl:part name="parameters" element="tns:GetGRCMembership" />
  </wsdl:message>
  <wsdl:message name="GetGRCMembershipSoapOut">
    <wsdl:part name="parameters" element="tns:GetGRCMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="GetStreamManagementProfileSoapIn">
    <wsdl:part name="parameters" element="tns:GetStreamManagementProfile" />
  </wsdl:message>
  <wsdl:message name="GetStreamManagementProfileSoapOut">
    <wsdl:part name="parameters" element="tns:GetStreamManagementProfileResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveStreamManagementProfileSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveStreamManagementProfile" />
  </wsdl:message>
  <wsdl:message name="RemoveStreamManagementProfileSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveStreamManagementProfileResponse" />
  </wsdl:message>
  <wsdl:message name="SetStreamManagementProfileSoapIn">
    <wsdl:part name="parameters" element="tns:SetStreamManagementProfile" />
  </wsdl:message>
  <wsdl:message name="SetStreamManagementProfileSoapOut">
    <wsdl:part name="parameters" element="tns:SetStreamManagementProfileResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupMembershipsSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupMemberships" />
  </wsdl:message>
  <wsdl:message name="GetGroupMembershipsSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupMembershipsResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveGroupMembershipsSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveGroupMemberships" />
  </wsdl:message>
  <wsdl:message name="RemoveGroupMembershipsSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveGroupMembershipsResponse" />
  </wsdl:message>
  <wsdl:message name="SetGroupMembershipsSoapIn">
    <wsdl:part name="parameters" element="tns:SetGroupMemberships" />
  </wsdl:message>
  <wsdl:message name="SetGroupMembershipsSoapOut">
    <wsdl:part name="parameters" element="tns:SetGroupMembershipsResponse" />
  </wsdl:message>
  <wsdl:message name="AddGroupMembershipsSoapIn">
    <wsdl:part name="parameters" element="tns:AddGroupMemberships" />
  </wsdl:message>
  <wsdl:message name="AddGroupMembershipsSoapOut">
    <wsdl:part name="parameters" element="tns:AddGroupMembershipsResponse" />
  </wsdl:message>
  <wsdl:message name="ReadAllGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:ReadAllGroups" />
  </wsdl:message>
  <wsdl:message name="ReadAllGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:ReadAllGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ReadGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:ReadGroups" />
  </wsdl:message>
  <wsdl:message name="ReadGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:ReadGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="NewUpgradeGroupSoapIn">
    <wsdl:part name="parameters" element="tns:NewUpgradeGroup" />
  </wsdl:message>
  <wsdl:message name="NewUpgradeGroupSoapOut">
    <wsdl:part name="parameters" element="tns:NewUpgradeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="SetUpgradeGroupVersionSoapIn">
    <wsdl:part name="parameters" element="tns:SetUpgradeGroupVersion" />
  </wsdl:message>
  <wsdl:message name="SetUpgradeGroupVersionSoapOut">
    <wsdl:part name="parameters" element="tns:SetUpgradeGroupVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpgradeGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpgradeGroups" />
  </wsdl:message>
  <wsdl:message name="GetUpgradeGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpgradeGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpgradeGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpgradeGroup" />
  </wsdl:message>
  <wsdl:message name="GetUpgradeGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpgradeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceVersionStackSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceVersionStack" />
  </wsdl:message>
  <wsdl:message name="GetDeviceVersionStackSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceVersionStackResponse" />
  </wsdl:message>
  <wsdl:portType name="PrincipalManagementInterfaceSoap">
    <wsdl:operation name="RemoveDeviceValues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update All Device Values from the User Store and Notify</wsdl:documentation>
      <wsdl:input message="tns:RemoveDeviceValuesSoapIn" />
      <wsdl:output message="tns:RemoveDeviceValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGlobalValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set The Global Setting of a Key to val</wsdl:documentation>
      <wsdl:input message="tns:SetGlobalValueSoapIn" />
      <wsdl:output message="tns:SetGlobalValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGlobalValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove Global Device Setting</wsdl:documentation>
      <wsdl:input message="tns:RemoveGlobalValueSoapIn" />
      <wsdl:output message="tns:RemoveGlobalValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalValue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets the value of either one key, or all keys.</wsdl:documentation>
      <wsdl:input message="tns:GetGlobalValueSoapIn" />
      <wsdl:output message="tns:GetGlobalValueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGRCMembership">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set Substitution Group Membership (SGM) for an account</wsdl:documentation>
      <wsdl:input message="tns:UpdateGRCMembershipSoapIn" />
      <wsdl:output message="tns:UpdateGRCMembershipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGRCMembership">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set Substitution Group Membership (SGM) for an account</wsdl:documentation>
      <wsdl:input message="tns:SetGRCMembershipSoapIn" />
      <wsdl:output message="tns:SetGRCMembershipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGRCMembership">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove Substitution Group Membership (SGM) for an account</wsdl:documentation>
      <wsdl:input message="tns:RemoveGRCMembershipSoapIn" />
      <wsdl:output message="tns:RemoveGRCMembershipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGRCMembership">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return Substitution Group Membership (SGM) for an account</wsdl:documentation>
      <wsdl:input message="tns:GetGRCMembershipSoapIn" />
      <wsdl:output message="tns:GetGRCMembershipSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStreamManagementProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return StreamManagementProfile for an account or device</wsdl:documentation>
      <wsdl:input message="tns:GetStreamManagementProfileSoapIn" />
      <wsdl:output message="tns:GetStreamManagementProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStreamManagementProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete StreamManagementProfile for an account or device</wsdl:documentation>
      <wsdl:input message="tns:RemoveStreamManagementProfileSoapIn" />
      <wsdl:output message="tns:RemoveStreamManagementProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetStreamManagementProfile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set StreamManagementProfile for an account or device</wsdl:documentation>
      <wsdl:input message="tns:SetStreamManagementProfileSoapIn" />
      <wsdl:output message="tns:SetStreamManagementProfileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupMemberships">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return GroupMemberships for an account</wsdl:documentation>
      <wsdl:input message="tns:GetGroupMembershipsSoapIn" />
      <wsdl:output message="tns:GetGroupMembershipsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupMemberships">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete GroupMemberships for an account</wsdl:documentation>
      <wsdl:input message="tns:RemoveGroupMembershipsSoapIn" />
      <wsdl:output message="tns:RemoveGroupMembershipsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGroupMemberships">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set GroupMemberships for an account</wsdl:documentation>
      <wsdl:input message="tns:SetGroupMembershipsSoapIn" />
      <wsdl:output message="tns:SetGroupMembershipsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGroupMemberships">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add GroupMemberships for an account</wsdl:documentation>
      <wsdl:input message="tns:AddGroupMembershipsSoapIn" />
      <wsdl:output message="tns:AddGroupMembershipsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the list of all Subscriber Groups</wsdl:documentation>
      <wsdl:input message="tns:ReadAllGroupsSoapIn" />
      <wsdl:output message="tns:ReadAllGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the list of the Subscriber Groups by GroupIds</wsdl:documentation>
      <wsdl:input message="tns:ReadGroupsSoapIn" />
      <wsdl:output message="tns:ReadGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewUpgradeGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create a subscriber group for client upgrade purposes.</wsdl:documentation>
      <wsdl:input message="tns:NewUpgradeGroupSoapIn" />
      <wsdl:output message="tns:NewUpgradeGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUpgradeGroupVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set the upgrade group version. A valid version argument will overwrite the previous version. A NULL version argument will clear it.</wsdl:documentation>
      <wsdl:input message="tns:SetUpgradeGroupVersionSoapIn" />
      <wsdl:output message="tns:SetUpgradeGroupVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpgradeGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the upgrade groups and their associated values.</wsdl:documentation>
      <wsdl:input message="tns:GetUpgradeGroupsSoapIn" />
      <wsdl:output message="tns:GetUpgradeGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpgradeGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the upgrade subscriber groups and their associated values.</wsdl:documentation>
      <wsdl:input message="tns:GetUpgradeGroupSoapIn" />
      <wsdl:output message="tns:GetUpgradeGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceVersionStack">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the version stack for a given device.</wsdl:documentation>
      <wsdl:input message="tns:GetDeviceVersionStackSoapIn" />
      <wsdl:output message="tns:GetDeviceVersionStackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrincipalManagementInterfaceSoap" type="tns:PrincipalManagementInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemoveDeviceValues">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/RemoveDeviceValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGlobalValue">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss/SetGlobalValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGlobalValue">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss/RemoveGlobalValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalValue">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss/GetGlobalValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGRCMembership">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/UpdateGRCMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGRCMembership">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/SetGRCMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGRCMembership">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/RemoveGRCMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGRCMembership">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/GetGRCMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreamManagementProfile">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/GetStreamManagementProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStreamManagementProfile">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/RemoveStreamManagementProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStreamManagementProfile">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/SetStreamManagementProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupMemberships">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/GetGroupMemberships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupMemberships">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/RemoveGroupMemberships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGroupMemberships">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/SetGroupMemberships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroupMemberships">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/AddGroupMemberships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllGroups">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/ReadAllGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGroups">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/ReadGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUpgradeGroup">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/NewUpgradeGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUpgradeGroupVersion">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/SetUpgradeGroupVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpgradeGroups">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/GetUpgradeGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpgradeGroup">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/GetUpgradeGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceVersionStack">
      <soap:operation soapAction="http://www.microsoft.com/iptv/bss2/GetDeviceVersionStack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PrincipalManagementInterfaceSoap1" type="tns:PrincipalManagementInterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RemoveDeviceValues">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/RemoveDeviceValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGlobalValue">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss/SetGlobalValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGlobalValue">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss/RemoveGlobalValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalValue">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss/GetGlobalValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGRCMembership">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/UpdateGRCMembership" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGRCMembership">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/SetGRCMembership" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGRCMembership">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/RemoveGRCMembership" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGRCMembership">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/GetGRCMembership" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStreamManagementProfile">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/GetStreamManagementProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStreamManagementProfile">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/RemoveStreamManagementProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStreamManagementProfile">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/SetStreamManagementProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupMemberships">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/GetGroupMemberships" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupMemberships">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/RemoveGroupMemberships" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGroupMemberships">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/SetGroupMemberships" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroupMemberships">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/AddGroupMemberships" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllGroups">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/ReadAllGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGroups">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/ReadGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUpgradeGroup">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/NewUpgradeGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUpgradeGroupVersion">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/SetUpgradeGroupVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpgradeGroups">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/GetUpgradeGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpgradeGroup">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/GetUpgradeGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceVersionStack">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/bss2/GetDeviceVersionStack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>