General.Service/Web References/BSS/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.microsoft.com/iptv/bss2" elementFormDefault="qualified" targetNamespace="http://www.microsoft.com/iptv/bss2" id="schema3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://microsoft.com/wsdl/types/" />
  <xs:element name="RemoveDeviceValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="tns:DevicePrincipalExternalId" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="keyName" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DevicePrincipalExternalId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PrincipalIdentifier">
        <xs:attribute name="Id" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrincipalIdentifier" abstract="true" />
  <xs:complexType name="GroupPrincipalExternalId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PrincipalIdentifier">
        <xs:attribute name="Id" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeviceGuidPrincipalId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PrincipalIdentifier">
        <xs:attribute xmlns:q1="http://microsoft.com/wsdl/types/" name="Id" type="q1:guid" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AccountPrincipalExternalId">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PrincipalIdentifier">
        <xs:attribute name="Id" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RemoveDeviceValuesResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SetGlobalValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="key" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="val" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGlobalValueResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="RemoveGlobalValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="key" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGlobalValueResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetGlobalValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="key" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetGlobalValueResponse" type="tns:ArrayOfUserstoreNameValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfUserstoreNameValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserstoreNameValue" nillable="true" type="tns:UserstoreNameValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserstoreNameValue">
    <xs:attribute name="Key" type="xs:string" />
    <xs:attribute name="Value" type="xs:string" />
  </xs:complexType>
  <xs:element name="UpdateGRCMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="serviceGroupName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="principalGRCMembership" type="tns:PrincipalGRCMembership" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PrincipalGRCMembership">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Principal" type="tns:AccountPrincipalExternalId" />
      <xs:element minOccurs="0" maxOccurs="1" name="Membership" type="tns:ArrayOfGRCMembership" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfGRCMembership">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GRCMembership" nillable="true" type="tns:GRCMembership" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GRCMembership">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GroupSetId" type="xs:unsignedByte" />
      <xs:element minOccurs="1" maxOccurs="1" name="GroupId" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateGRCMembershipResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SetGRCMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="principalGRCMembership" type="tns:PrincipalGRCMembership" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGRCMembershipResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="RemoveGRCMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="accountExternalID" type="tns:AccountPrincipalExternalId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGRCMembershipResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetGRCMembership">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="accountExternalID" type="tns:AccountPrincipalExternalId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGRCMembershipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="GetGRCMembershipResult" type="tns:GRCMembership" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreamManagementProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="principalId" type="tns:PrincipalIdentifier" />
        <xs:element minOccurs="1" maxOccurs="1" name="profileType" type="tns:StreamManagementProfileType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="StreamManagementProfileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IngressProfile" />
      <xs:enumeration value="EgressProfile" />
      <xs:enumeration value="WANProfile" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GetStreamManagementProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetStreamManagementProfileResult" type="tns:StreamManagementProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="StreamManagementProfile">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IPTVHDStreams" type="xs:unsignedInt" />
      <xs:element minOccurs="1" maxOccurs="1" name="IPTVSDStreams" type="xs:unsignedInt" />
      <xs:element minOccurs="1" maxOccurs="1" name="DTTStreams" type="xs:unsignedInt" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaxBitRate" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveStreamManagementProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="principalId" type="tns:PrincipalIdentifier" />
        <xs:element minOccurs="1" maxOccurs="1" name="profileType" type="tns:StreamManagementProfileType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStreamManagementProfileResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SetStreamManagementProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="principalId" type="tns:PrincipalIdentifier" />
        <xs:element minOccurs="1" maxOccurs="1" name="profileType" type="tns:StreamManagementProfileType" />
        <xs:element minOccurs="0" maxOccurs="1" name="profileValue" type="tns:StreamManagementProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStreamManagementProfileResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetGroupMemberships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="principalId" type="tns:PrincipalIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupMembershipsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="GetGroupMembershipsResult" type="tns:GroupMembership" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GroupMembership">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="GroupExternalId" type="tns:GroupPrincipalExternalId" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoveGroupMemberships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="principalId" type="tns:PrincipalIdentifier" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="groupIds" type="tns:GroupPrincipalExternalId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGroupMembershipsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SetGroupMemberships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="principalId" type="tns:PrincipalIdentifier" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="groupIds" type="tns:GroupPrincipalExternalId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGroupMembershipsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="AddGroupMemberships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="principalId" type="tns:PrincipalIdentifier" />
        <xs:element minOccurs="0" maxOccurs="unbounded" name="groupIds" type="tns:GroupPrincipalExternalId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGroupMembershipsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadAllGroups">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadAllGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadAllGroupsResult" type="tns:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Group">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Principal">
        <xs:attribute name="Type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Principal" abstract="true">
    <xs:attribute name="ExternalID" type="xs:string" />
    <xs:attribute name="Status" type="tns:PrincipalStatus" />
  </xs:complexType>
  <xs:simpleType name="PrincipalStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="enabled" />
      <xs:enumeration value="disabled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="UpgradeGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Group">
        <xs:attribute name="Subtype" type="xs:unsignedInt" use="required" />
        <xs:attribute name="Version" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReadGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="groupId" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadGroupsResult" type="tns:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUpgradeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="groupExternalId" type="tns:GroupPrincipalExternalId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUpgradeGroupResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SetUpgradeGroupVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="groupExternalId" type="tns:GroupPrincipalExternalId" />
        <xs:element minOccurs="0" maxOccurs="1" name="version" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUpgradeGroupVersionResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetUpgradeGroups">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetUpgradeGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUpgradeGroupsResult" type="tns:ArrayOfUpgradeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfUpgradeGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpgradeGroup" nillable="true" type="tns:UpgradeGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUpgradeGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="groupExternalId" type="tns:GroupPrincipalExternalId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpgradeGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetUpgradeGroupResult" type="tns:UpgradeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceVersionStack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="tns:DevicePrincipalExternalId" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceVersionStackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetDeviceVersionStackResult" type="tns:VersionStack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="VersionStack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Branch" type="tns:UpgradeGroup" />
      <xs:element minOccurs="0" maxOccurs="1" name="ServiceGroup" type="tns:UpgradeGroup" />
      <xs:element minOccurs="0" maxOccurs="1" name="AccountGroup" type="tns:UpgradeGroup" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeviceGroup" type="tns:UpgradeGroup" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeviceVersion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>