General.Service/Web References/BSS/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.microsoft.com/iptv/bss" elementFormDefault="qualified" targetNamespace="http://www.microsoft.com/iptv/bss" id="schema1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://microsoft.com/wsdl/types/" />
  <xs:element name="CreateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="group" type="tns:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Group">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Principal">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Type" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="Principals" nillable="true" type="tns:ArrayOfChoice1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Principal" abstract="true">
    <xs:attribute name="ExternalID" type="xs:string" />
    <xs:attribute name="Status" type="tns:PrincipalStatus" use="required" />
  </xs:complexType>
  <xs:simpleType name="PrincipalStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="enabled" />
      <xs:enumeration value="disabled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Account">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Principal">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="Devices" nillable="true" type="tns:ArrayOfDevice" />
          <xs:element minOccurs="1" maxOccurs="1" name="Users" nillable="true" type="tns:ArrayOfUser" />
        </xs:sequence>
        <xs:attribute name="CreditLimit" type="xs:double" use="required" />
        <xs:attribute name="TimeZone" type="tns:TimeZonesEnumeration" use="required" />
        <xs:attribute name="HDStreams" type="xs:int" />
        <xs:attribute name="SDStreams" type="xs:int" />
        <xs:attribute name="DVREnabled" type="xs:boolean" />
        <xs:attribute xmlns:q1="http://microsoft.com/wsdl/types/" name="RecordingDeviceId" type="q1:guid" />
        <xs:attribute name="Pin" type="xs:string" />
        <xs:attribute name="ServiceGroupName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Device">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Principal">
        <xs:attribute name="AccountExternalId" type="xs:string" />
        <xs:attribute name="Pin" type="xs:string" />
        <xs:attribute xmlns:q2="http://microsoft.com/wsdl/types/" name="ID" type="q2:guid" use="required" />
        <xs:attribute name="Version" type="xs:string" />
        <xs:attribute name="RequestedVersion" type="xs:string" />
        <xs:attribute name="ResolvedVersion" type="xs:string" />
        <xs:attribute name="LastReportedVersion" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Principal">
        <xs:attribute name="Pin" type="xs:string" />
        <xs:attribute name="AccountExternalId" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TimeZonesEnumeration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="GMT_Minus_1200_InternationalDateLineWest" />
      <xs:enumeration value="GMT_Minus_1100_MidwayIsland_Samoa" />
      <xs:enumeration value="GMT_Minus_1000_Hawaii" />
      <xs:enumeration value="GMT_Minus_0900_Alaska" />
      <xs:enumeration value="GMT_Minus_0800_PacificTimeUSAndCanada_Tijuana" />
      <xs:enumeration value="GMT_Minus_0700_Arizona" />
      <xs:enumeration value="GMT_Minus_0700_Chihuahua_LaPaz_Mazatlan" />
      <xs:enumeration value="GMT_Minus_0700_MountainTimeUSAndCanada" />
      <xs:enumeration value="GMT_Minus_0600_CentralAmerica" />
      <xs:enumeration value="GMT_Minus_0600_CentralTimeUSAndCanada" />
      <xs:enumeration value="GMT_Minus_0600_Guadalajara_MexicoCity_Monterrey" />
      <xs:enumeration value="GMT_Minus_0600_Saskatchewan" />
      <xs:enumeration value="GMT_Minus_0500_Bogota_Lima_Quito" />
      <xs:enumeration value="GMT_Minus_0500_EasternTimeUSAndCanada" />
      <xs:enumeration value="GMT_Minus_0500_IndianaEast" />
      <xs:enumeration value="GMT_Minus_0400_AtlanticTimeCanada" />
      <xs:enumeration value="GMT_Minus_0400_Caracas_LaPaz" />
      <xs:enumeration value="GMT_Minus_0400_Santiago" />
      <xs:enumeration value="GMT_Minus_0330_Newfoundland" />
      <xs:enumeration value="GMT_Minus_0300_Brasilia" />
      <xs:enumeration value="GMT_Minus_0300_Buenos_Aires_Georgetown" />
      <xs:enumeration value="GMT_Minus_0300_Greenland" />
      <xs:enumeration value="GMT_Minus_0200_MidAtlantic" />
      <xs:enumeration value="GMT_Minus_0100_Azores" />
      <xs:enumeration value="GMT_Minus_0100_Cape_Verde_Is" />
      <xs:enumeration value="GMT_Casablanca_Monrovia" />
      <xs:enumeration value="GMT_GreenwichMeanTime_Dublin_Edinburgh_Lisbon_London" />
      <xs:enumeration value="GMT_Plus_0100_Amsterdam_Berlin_Bern_Rome_Stockholm_Vienna" />
      <xs:enumeration value="GMT_Plus_0100_Belgrade_Bratislava_Budapest_Ljubljana_Prague" />
      <xs:enumeration value="GMT_Plus_0100_Brussels_Copenhagen_Madrid_Paris" />
      <xs:enumeration value="GMT_Plus_0100_Sarajevo_Skopje_Warsaw_Zagreb" />
      <xs:enumeration value="GMT_Plus_0100_WestCentralAfrica" />
      <xs:enumeration value="GMT_Plus_0200_Athens_Beirut_Istanbul_Minsk" />
      <xs:enumeration value="GMT_Plus_0200_Bucharest" />
      <xs:enumeration value="GMT_Plus_0200_Cairo" />
      <xs:enumeration value="GMT_Plus_0200_Harare_Pretoria" />
      <xs:enumeration value="GMT_Plus_0200_Helsinki_Kyiv_Riga_Sofia_Tallinn_Vilnius" />
      <xs:enumeration value="GMT_Plus_0200_Jerusalem" />
      <xs:enumeration value="GMT_Plus_0300_Baghdad" />
      <xs:enumeration value="GMT_Plus_0300_Kuwait_Riyadh" />
      <xs:enumeration value="GMT_Plus_0300_Moscow_StPetersbug_Volgograd" />
      <xs:enumeration value="GMT_Plus_0300_Nairobi" />
      <xs:enumeration value="GMT_Plus_0330_Tehran" />
      <xs:enumeration value="GMT_Plus_0400_AbuDhabi_Muscat" />
      <xs:enumeration value="GMT_Plus_0400_Baku_Tbilsi_Yerevan" />
      <xs:enumeration value="GMT_Plus_0430_Kabul" />
      <xs:enumeration value="GMT_Plus_0500_Ekaterinburg" />
      <xs:enumeration value="GMT_Plus_0500_Islamabad_Karachi_Tashkent" />
      <xs:enumeration value="GMT_Plus_0530_Chennai_Kolkata_Mumbai_NewDelhi" />
      <xs:enumeration value="GMT_Plus_0545_Kathmandu" />
      <xs:enumeration value="GMT_Plus_0600_Almaty_Novosibirsk" />
      <xs:enumeration value="GMT_Plus_0600_Astana_Dhaka" />
      <xs:enumeration value="GMT_Plus_0600_SriJayawardenepura" />
      <xs:enumeration value="GMT_Plus_0630_Rangoon" />
      <xs:enumeration value="GMT_Plus_0700_Bangkok_Hanoi_Jakarta" />
      <xs:enumeration value="GMT_Plus_0700_Kransnoyarsk" />
      <xs:enumeration value="GMT_Plus_0800_Beijing_Chongqing_HongKong_Urumqi" />
      <xs:enumeration value="GMT_Plus_0800_Irkutsk_UlaanBataar" />
      <xs:enumeration value="GMT_Plus_0800_KualaLumpur_Singapore" />
      <xs:enumeration value="GMT_Plus_0800_Perth" />
      <xs:enumeration value="GMT_Plus_0800_Taipei" />
      <xs:enumeration value="GMT_Plus_0900_Osaka_Sapporo_Tokyo" />
      <xs:enumeration value="GMT_Plus_0900_Seoul" />
      <xs:enumeration value="GMT_Plus_0900_Yakutsk" />
      <xs:enumeration value="GMT_Plus_0930_Adelaide" />
      <xs:enumeration value="GMT_Plus_0930_Darwin" />
      <xs:enumeration value="GMT_Plus_1000_Brisbane" />
      <xs:enumeration value="GMT_Plus_1000_Canberra_Melbourne_Sydney" />
      <xs:enumeration value="GMT_Plus_1000_Guam_PortMoresby" />
      <xs:enumeration value="GMT_Plus_1000_Hobart" />
      <xs:enumeration value="GMT_Plus_1000_Vladivostok" />
      <xs:enumeration value="GMT_Plus_1100_Magadan_SolomonIs_NewCaledonia" />
      <xs:enumeration value="GMT_Plus_1200_Auckland_Wellington" />
      <xs:enumeration value="GMT_Plus_1200_Fiji_Kamchatka_MarshallIs" />
      <xs:enumeration value="GMT_Plus_1300_Nuku_alofa" />
      <xs:enumeration value="GMT_Minus_0800_Tijuana_Baja_California" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SubscriberGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Principal">
        <xs:attribute xmlns:q3="http://microsoft.com/wsdl/types/" name="GroupId" type="q3:guid" use="required" />
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="Type" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="Device" nillable="true" type="tns:Device" />
      <xs:element minOccurs="1" maxOccurs="1" name="Account" nillable="true" type="tns:Account" />
    </xs:choice>
  </xs:complexType>
  <xs:element name="CreateGroupResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeleteGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="externalId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="externalId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadGroupResult" type="tns:ArrayOfGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Group" nillable="true" type="tns:Group" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateGroupStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="group" type="tns:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupStatusResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateGroupType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="group" type="tns:Group" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupTypeResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateGroupPrincipals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="group" type="tns:Group" />
        <xs:element minOccurs="1" maxOccurs="1" name="remove" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGroupPrincipalsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="externalId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="externalId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadAccountResult" type="tns:ArrayOfAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfAccount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Account" nillable="true" type="tns:Account" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateAccountDevices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
        <xs:element minOccurs="1" maxOccurs="1" name="remove" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountDevicesResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
        <xs:element minOccurs="1" maxOccurs="1" name="remove" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountUsersResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountStatusResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountPinResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountCreditLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountCreditLimitResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountTimeZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountTimeZoneResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountDVRStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountDVRStatusResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountRecordingDeviceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountRecordingDeviceIdResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountHDStreams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountHDStreamsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountSDStreams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountSDStreamsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountExternalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="oldAccountExternalId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="newAccountExternalId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountExternalIdResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ProvisionDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="deviceId" type="q4:guid" />
        <xs:element minOccurs="0" maxOccurs="1" name="deviceName" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="accountNativeId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProvisionDeviceResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadUserResult" type="tns:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserPinResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserStatusResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateDeviceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="device" type="tns:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceStatusResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateDeviceExternalId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="oldDeviceExternalId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="newDeviceExternalId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceExternalIdResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateDevicePin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="device" type="tns:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDevicePinResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateDevicePinByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="deviceId" type="q5:guid" />
        <xs:element minOccurs="0" maxOccurs="1" name="oldPin" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="newPin" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDevicePinByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="UpdateDevicePinByTypeResult" type="tns:PinStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PinStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoError" />
      <xs:enumeration value="Forbidden" />
      <xs:enumeration value="NoMatch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeleteDevicePinByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="deviceId" type="q6:guid" />
        <xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDevicePinByTypeResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeleteDevicePin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="deviceId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDevicePinResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateForbiddenPins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="pins" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateForbiddenPinsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadDevicePins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="deviceId" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDevicePinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadDevicePinsResult" type="tns:ArrayOfPinInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfPinInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PinInfo" nillable="true" type="tns:PinInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PinInfo">
    <xs:attribute name="Pin" type="xs:string" />
    <xs:attribute name="PinType" type="xs:short" use="required" />
    <xs:attribute name="EnableDate" type="xs:dateTime" use="required" />
  </xs:complexType>
  <xs:element name="ReadForbiddenPins">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadForbiddenPinsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadForbiddenPinsResult" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetDevicePinByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="deviceId" type="q9:guid" />
        <xs:element minOccurs="0" maxOccurs="1" name="pin" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetDevicePinByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ResetDevicePinByTypeResult" type="tns:PinStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="device" type="tns:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceVersionResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadAllDeviceValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllDeviceValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadAllDeviceValuesResult" type="tns:ArrayOfDeviceValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfDeviceValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceValue" nillable="true" type="tns:DeviceValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeviceValue">
    <xs:attribute name="Key" type="xs:string" />
    <xs:attribute name="Value" type="xs:string" />
  </xs:complexType>
  <xs:element name="DeleteAllDeviceValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllDeviceValuesResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateDeviceValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="deviceValues" type="tns:ArrayOfDeviceValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceValuesResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateDeviceValuesAndNotify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="deviceValues" type="tns:ArrayOfDeviceValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceValuesAndNotifyResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadDeviceResult" type="tns:ArrayOfDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDeviceByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="deviceID" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDeviceByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadDeviceByGuidResult" type="tns:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEnableDateForAllPins">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="enableDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEnableDateForAllPinsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateEnableDateForPinByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:short" />
        <xs:element minOccurs="1" maxOccurs="1" name="enableDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEnableDateForPinByTypeResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadDeviceGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Device" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDeviceGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadDeviceGroupsResult" type="tns:ArrayOfSubscriberGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSubscriberGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubscriberGroup" nillable="true" type="tns:SubscriberGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadAccountGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="account" type="tns:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAccountGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadAccountGroupsResult" type="tns:ArrayOfSubscriberGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetGlobalDeviceValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="key" type="tns:ClientSettingKey" />
        <xs:element minOccurs="0" maxOccurs="1" name="val" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ClientSettingKey">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AdultPinRetryLimit" />
      <xs:enumeration value="AdultPinRetryTimeoutMinutes" />
      <xs:enumeration value="AdultRatingLocked" />
      <xs:enumeration value="AdultUnlockPeriodInMinutes" />
      <xs:enumeration value="AppHelpURL" />
      <xs:enumeration value="AppKeyURL1" />
      <xs:enumeration value="AppKeyURL2" />
      <xs:enumeration value="AppKeyURL3" />
      <xs:enumeration value="AppKeyURL4" />
      <xs:enumeration value="AppKeyURL5" />
      <xs:enumeration value="AppKeyURL6" />
      <xs:enumeration value="CGMSA_CopyFreely_Buffering" />
      <xs:enumeration value="CGMSA_CopyFreely_Recording" />
      <xs:enumeration value="CGMSA_CopyNever_Buffering" />
      <xs:enumeration value="CGMSA_CopyNever_Recording" />
      <xs:enumeration value="CGMSA_CopyOnce_Buffering" />
      <xs:enumeration value="CGMSA_CopyOnce_Recording" />
      <xs:enumeration value="ClientMenus" />
      <xs:enumeration value="CreditLimitChangeApp" />
      <xs:enumeration value="CustomStrings" />
      <xs:enumeration value="DetuneTimeoutHours" />
      <xs:enumeration value="DisabledEventIds" />
      <xs:enumeration value="DisableICC" />
      <xs:enumeration value="DvrSkip" />
      <xs:enumeration value="EITCountryCode" />
      <xs:enumeration value="EITRatingSystem" />
      <xs:enumeration value="EnabledPinTypes" />
      <xs:enumeration value="EventQueueSize" />
      <xs:enumeration value="EventUploadHours" />
      <xs:enumeration value="ExposedUserStoreKeys" />
      <xs:enumeration value="FIPS" />
      <xs:enumeration value="HideNoRightsChannels" />
      <xs:enumeration value="ParentalControlState" />
      <xs:enumeration value="PauseBufferLength" />
      <xs:enumeration value="PConUnlockPeriodInMinutes" />
      <xs:enumeration value="PinRetryLimit" />
      <xs:enumeration value="PinRetryTimeoutMinutes" />
      <xs:enumeration value="PurchasePinRetryLimit" />
      <xs:enumeration value="PurchasePinRetryTimeoutMinutes" />
      <xs:enumeration value="RelockOnChannelChange" />
      <xs:enumeration value="RequirePinToRecordBlockedShows" />
      <xs:enumeration value="ScreenSaverTimeoutMinutes" />
      <xs:enumeration value="SecondsToBlockDescriptionRequests" />
      <xs:enumeration value="UniverseDefinition" />
      <xs:enumeration value="AvailableUniverses" />
      <xs:enumeration value="ActiveUniverse" />
      <xs:enumeration value="CanDetuneOnAlert" />
      <xs:enumeration value="EAS911MediaDescriptor" />
      <xs:enumeration value="ShowAlertConfirmDialog" />
      <xs:enumeration value="AlertToneDuration" />
      <xs:enumeration value="PremiumServiceOverride" />
      <xs:enumeration value="LiveServiceOverrideDefault" />
      <xs:enumeration value="DevicePinSize" />
      <xs:enumeration value="SendServerSessionId" />
      <xs:enumeration value="SslKeyPairAndCert" />
      <xs:enumeration value="SslTrustedRootCerts" />
      <xs:enumeration value="SslIntermediateCerts" />
      <xs:enumeration value="ServerChannelsMappedFirst" />
      <xs:enumeration value="TuneEvtLogSeconds" />
      <xs:enumeration value="UseMappedServerChannelsOnly" />
      <xs:enumeration value="DvrNotificationDelay" />
      <xs:enumeration value="AllowChannelReordering" />
      <xs:enumeration value="VodBlockSizeKB" />
      <xs:enumeration value="VodMaxReadSizeKB" />
      <xs:enumeration value="VodInitialMinDataRateKbs" />
      <xs:enumeration value="VodMaxSessionCount" />
      <xs:enumeration value="IndividualFuzz" />
      <xs:enumeration value="IndividualFudge" />
      <xs:enumeration value="IndividualFloor" />
      <xs:enumeration value="IndividualMCT" />
      <xs:enumeration value="IndividualDCT" />
      <xs:enumeration value="LiveServicesEnabled" />
      <xs:enumeration value="WebProxyConfiguration" />
      <xs:enumeration value="NavigationTargetMappingFile" />
      <xs:enumeration value="IngressProfile" />
      <xs:enumeration value="EgressProfile" />
      <xs:enumeration value="EITRatingSystem_Name" />
      <xs:enumeration value="EnableEPGPhase2Guide" />
      <xs:enumeration value="GuideBrowseBarMinimumHours" />
      <xs:enumeration value="GuideCurrentWindowMinimumHours" />
      <xs:enumeration value="GuideDataStoreFileCount" />
      <xs:enumeration value="GuideDataStoreFileMinimumSize" />
      <xs:enumeration value="GuideDataStoreMaxSize" />
      <xs:enumeration value="GuideDataStoreName" />
      <xs:enumeration value="GuideDisplayReserve" />
      <xs:enumeration value="GuideEnableServerPolling" />
      <xs:enumeration value="GuideFailureRetrySpanSeconds" />
      <xs:enumeration value="GuideFailureRetryStartSeconds" />
      <xs:enumeration value="GuideFutureWindowMinimumHours" />
      <xs:enumeration value="GuideIISDownloadBlockSize" />
      <xs:enumeration value="GuideIISDownloadSleepTimeMS" />
      <xs:enumeration value="GuideMinimumRequiredListingsHours" />
      <xs:enumeration value="GuideNumFutureWindows" />
      <xs:enumeration value="GuideNumFutureWindows_Channel" />
      <xs:enumeration value="GuideStationsPerRequest_Current" />
      <xs:enumeration value="GuideStationsPerRequest_Future" />
      <xs:enumeration value="GuideStationsPerRequest_MD" />
      <xs:enumeration value="GuideUpdateSpreadSeconds" />
      <xs:enumeration value="GuideWindowSizeHours_Current" />
      <xs:enumeration value="GuideWindowSizeHours_Future" />
      <xs:enumeration value="ActivityLoggingEnabled" />
      <xs:enumeration value="TriggerSet" />
      <xs:enumeration value="ClientStore" />
      <xs:enumeration value="LastVolume" />
      <xs:enumeration value="DownloadAndPlayQueueUpdateIntervalMinutes" />
      <xs:enumeration value="EnableSeriesPriority" />
      <xs:enumeration value="MapFeatures" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SetGlobalDeviceValuesResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="GetGlobalDeviceValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="key" type="tns:ClientSettingKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalDeviceValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetGlobalDeviceValuesResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllAccountValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="accountExternalID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllAccountValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadAllAccountValuesResult" type="tns:ArrayOfAccountValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfAccountValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountValue" nillable="true" type="tns:AccountValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountValue">
    <xs:attribute name="Key" type="xs:string" />
    <xs:attribute name="Value" type="xs:string" />
  </xs:complexType>
  <xs:element name="UpdateAccountValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="accountExternalID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="accountValues" type="tns:ArrayOfAccountValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountValuesResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeleteAccountValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="accountExternalID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="accountValues" type="tns:ArrayOfAccountValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountValuesResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountValuesAndNotify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="accountExternalID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="accountValues" type="tns:ArrayOfAccountValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountValuesAndNotifyResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeleteAllAccountValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="accountExternalID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllAccountValuesResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeleteAccountValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="accountExternalID" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="key" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountValueResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateAccountStreamAllocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="accountExternalIds" type="tns:ArrayOfString" />
        <xs:element minOccurs="0" maxOccurs="1" name="streamAllocation" type="tns:StreamAllocation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="StreamAllocation">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SDStreams" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="HDStreams" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateAccountStreamAllocationsResponse">
    <xs:complexType />
  </xs:element>
</xs:schema>