General.Service/Web References/OssEpg/ossepg.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.microsoft.com/iptv/oss/branch/epg" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.microsoft.com/iptv/oss/branch/epg" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.microsoft.com/iptv/oss/branch/epg">
      <s:element name="ReadEPGByDateRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="end" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadEPGByDateRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadEPGByDateRangeResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadVersion">
        <s:complexType />
      </s:element>
      <s:element name="ReadVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReadVersionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEpgFromXmlFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="filePath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateEpgFromXmlFileResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadEPGByDateRangeSoapIn">
    <wsdl:part name="parameters" element="tns:ReadEPGByDateRange" />
  </wsdl:message>
  <wsdl:message name="ReadEPGByDateRangeSoapOut">
    <wsdl:part name="parameters" element="tns:ReadEPGByDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="ReadVersionSoapIn">
    <wsdl:part name="parameters" element="tns:ReadVersion" />
  </wsdl:message>
  <wsdl:message name="ReadVersionSoapOut">
    <wsdl:part name="parameters" element="tns:ReadVersionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateEpgFromXmlFileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateEpgFromXmlFile" />
  </wsdl:message>
  <wsdl:message name="UpdateEpgFromXmlFileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateEpgFromXmlFileResponse" />
  </wsdl:message>
  <wsdl:portType name="OssEpgWebServiceSoap">
    <wsdl:operation name="ReadEPGByDateRange">
      <wsdl:input message="tns:ReadEPGByDateRangeSoapIn" />
      <wsdl:output message="tns:ReadEPGByDateRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get current version #.</wsdl:documentation>
      <wsdl:input message="tns:ReadVersionSoapIn" />
      <wsdl:output message="tns:ReadVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEpgFromXmlFile">
      <wsdl:input message="tns:UpdateEpgFromXmlFileSoapIn" />
      <wsdl:output message="tns:UpdateEpgFromXmlFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OssEpgWebServiceSoap" type="tns:OssEpgWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadEPGByDateRange">
      <soap:operation soapAction="http://www.microsoft.com/iptv/oss/branch/epg/ReadEPGByDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadVersion">
      <soap:operation soapAction="http://www.microsoft.com/iptv/oss/branch/epg/ReadVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEpgFromXmlFile">
      <soap:operation soapAction="http://www.microsoft.com/iptv/oss/branch/epg/UpdateEpgFromXmlFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OssEpgWebServiceSoap12" type="tns:OssEpgWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadEPGByDateRange">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/oss/branch/epg/ReadEPGByDateRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadVersion">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/oss/branch/epg/ReadVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEpgFromXmlFile">
      <soap12:operation soapAction="http://www.microsoft.com/iptv/oss/branch/epg/UpdateEpgFromXmlFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OssEpgWebService">
    <wsdl:port name="OssEpgWebServiceSoap" binding="tns:OssEpgWebServiceSoap">
      <soap:address location="http://172.27.1.34/ossepg/ossepg.asmx" />
    </wsdl:port>
    <wsdl:port name="OssEpgWebServiceSoap12" binding="tns:OssEpgWebServiceSoap12">
      <soap12:address location="http://172.27.1.34/ossepg/ossepg.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>