General.Service/Web References/OssDiagnostics/Diagnostics0.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="http://tempuri.org/">
      <s:include schemaLocation="http://localhost/ossNotifications/Diagnostics.asmx?schema=schema1" />
      <s:import schemaLocation="http://localhost/ossNotifications/Diagnostics.asmx?schema=schema2" namespace="http://microsoft.com/wsdl/types/" />
      <s:import schemaLocation="http://localhost/ossNotifications/Diagnostics.asmx?schema=schema3" namespace="http://www.microsoft.com/iptv/oss/diagnostics" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendDiagnosticRequestToDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:SendDiagnosticRequestToDevice" />
  </wsdl:message>
  <wsdl:message name="SendDiagnosticRequestToDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:SendDiagnosticRequestToDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="SendRebootRequestToDeviceSoapIn">
    <wsdl:part name="parameters" element="tns:SendRebootRequestToDevice" />
  </wsdl:message>
  <wsdl:message name="SendRebootRequestToDeviceSoapOut">
    <wsdl:part name="parameters" element="tns:SendRebootRequestToDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="SendDataRefreshNotificationSoapIn">
    <wsdl:part name="parameters" element="tns:SendDataRefreshNotification" />
  </wsdl:message>
  <wsdl:message name="SendDataRefreshNotificationSoapOut">
    <wsdl:part name="parameters" element="tns:SendDataRefreshNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDetailedDiagnosticsStateByDateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDetailedDiagnosticsStateByDate" />
  </wsdl:message>
  <wsdl:message name="UpdateDetailedDiagnosticsStateByDateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDetailedDiagnosticsStateByDateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDetailedDiagnosticsStateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDetailedDiagnosticsState" />
  </wsdl:message>
  <wsdl:message name="UpdateDetailedDiagnosticsStateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDetailedDiagnosticsStateResponse" />
  </wsdl:message>
  <wsdl:message name="ReadDetailedDiagnosticsDataSoapIn">
    <wsdl:part name="parameters" element="tns:ReadDetailedDiagnosticsData" />
  </wsdl:message>
  <wsdl:message name="ReadDetailedDiagnosticsDataSoapOut">
    <wsdl:part name="parameters" element="tns:ReadDetailedDiagnosticsDataResponse" />
  </wsdl:message>
  <wsdl:message name="ReadStartingDataForDetailedDiagnosticsSoapIn">
    <wsdl:part name="parameters" element="tns:ReadStartingDataForDetailedDiagnostics" />
  </wsdl:message>
  <wsdl:message name="ReadStartingDataForDetailedDiagnosticsSoapOut">
    <wsdl:part name="parameters" element="tns:ReadStartingDataForDetailedDiagnosticsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteClientEventsFromDetailedDiagnosticsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteClientEventsFromDetailedDiagnostics" />
  </wsdl:message>
  <wsdl:message name="DeleteClientEventsFromDetailedDiagnosticsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteClientEventsFromDetailedDiagnosticsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteClientFiltersSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteClientFilters" />
  </wsdl:message>
  <wsdl:message name="DeleteClientFiltersSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteClientFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="ReadClientFiltersSoapIn">
    <wsdl:part name="parameters" element="tns:ReadClientFilters" />
  </wsdl:message>
  <wsdl:message name="ReadClientFiltersSoapOut">
    <wsdl:part name="parameters" element="tns:ReadClientFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateClientFiltersSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateClientFilters" />
  </wsdl:message>
  <wsdl:message name="UpdateClientFiltersSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateClientFiltersResponse" />
  </wsdl:message>
  <wsdl:portType name="DiagnosticsNotificationsWSSoap">
    <wsdl:operation name="SendDiagnosticRequestToDevice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a diagnostic request to a device</wsdl:documentation>
      <wsdl:input message="tns:SendDiagnosticRequestToDeviceSoapIn" />
      <wsdl:output message="tns:SendDiagnosticRequestToDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendRebootRequestToDevice">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a reboot request to a device</wsdl:documentation>
      <wsdl:input message="tns:SendRebootRequestToDeviceSoapIn" />
      <wsdl:output message="tns:SendRebootRequestToDeviceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendDataRefreshNotification">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method sends a data refresh notification to a subscriber group list</wsdl:documentation>
      <wsdl:input message="tns:SendDataRefreshNotificationSoapIn" />
      <wsdl:output message="tns:SendDataRefreshNotificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDetailedDiagnosticsStateByDate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables detailed diagnostics for a device</wsdl:documentation>
      <wsdl:input message="tns:UpdateDetailedDiagnosticsStateByDateSoapIn" />
      <wsdl:output message="tns:UpdateDetailedDiagnosticsStateByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDetailedDiagnosticsState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Enables detailed diagnostics for a device for 2 hours</wsdl:documentation>
      <wsdl:input message="tns:UpdateDetailedDiagnosticsStateSoapIn" />
      <wsdl:output message="tns:UpdateDetailedDiagnosticsStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadDetailedDiagnosticsData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns detailed diagnostic events for a device</wsdl:documentation>
      <wsdl:input message="tns:ReadDetailedDiagnosticsDataSoapIn" />
      <wsdl:output message="tns:ReadDetailedDiagnosticsDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadStartingDataForDetailedDiagnostics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns what EventID should be passed for a given DateTime, the internal deviceID, and the url of the service group to use to ReadDetailedDiagnosticsData for ReadDetailedDiagnosticsData</wsdl:documentation>
      <wsdl:input message="tns:ReadStartingDataForDetailedDiagnosticsSoapIn" />
      <wsdl:output message="tns:ReadStartingDataForDetailedDiagnosticsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClientEventsFromDetailedDiagnostics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Clears events for a given device from the database</wsdl:documentation>
      <wsdl:input message="tns:DeleteClientEventsFromDetailedDiagnosticsSoapIn" />
      <wsdl:output message="tns:DeleteClientEventsFromDetailedDiagnosticsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClientFilters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">deletes any custom client filters a client may have</wsdl:documentation>
      <wsdl:input message="tns:DeleteClientFiltersSoapIn" />
      <wsdl:output message="tns:DeleteClientFiltersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadClientFilters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">returns the list of current custom filters a client may have</wsdl:documentation>
      <wsdl:input message="tns:ReadClientFiltersSoapIn" />
      <wsdl:output message="tns:ReadClientFiltersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientFilters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method sets custom filters for the client</wsdl:documentation>
      <wsdl:input message="tns:UpdateClientFiltersSoapIn" />
      <wsdl:output message="tns:UpdateClientFiltersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DiagnosticsNotificationsWSSoap" type="tns:DiagnosticsNotificationsWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendDiagnosticRequestToDevice">
      <soap:operation soapAction="http://tempuri.org/SendDiagnosticRequestToDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRebootRequestToDevice">
      <soap:operation soapAction="http://tempuri.org/SendRebootRequestToDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDataRefreshNotification">
      <soap:operation soapAction="http://tempuri.org/SendDataRefreshNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDetailedDiagnosticsStateByDate">
      <soap:operation soapAction="http://tempuri.org/UpdateDetailedDiagnosticsStateByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDetailedDiagnosticsState">
      <soap:operation soapAction="http://tempuri.org/UpdateDetailedDiagnosticsState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadDetailedDiagnosticsData">
      <soap:operation soapAction="http://tempuri.org/ReadDetailedDiagnosticsData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStartingDataForDetailedDiagnostics">
      <soap:operation soapAction="http://tempuri.org/ReadStartingDataForDetailedDiagnostics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClientEventsFromDetailedDiagnostics">
      <soap:operation soapAction="http://tempuri.org/DeleteClientEventsFromDetailedDiagnostics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClientFilters">
      <soap:operation soapAction="http://tempuri.org/DeleteClientFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadClientFilters">
      <soap:operation soapAction="http://tempuri.org/ReadClientFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientFilters">
      <soap:operation soapAction="http://tempuri.org/UpdateClientFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DiagnosticsNotificationsWSSoap1" type="tns:DiagnosticsNotificationsWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendDiagnosticRequestToDevice">
      <soap12:operation soapAction="http://tempuri.org/SendDiagnosticRequestToDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRebootRequestToDevice">
      <soap12:operation soapAction="http://tempuri.org/SendRebootRequestToDevice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendDataRefreshNotification">
      <soap12:operation soapAction="http://tempuri.org/SendDataRefreshNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDetailedDiagnosticsStateByDate">
      <soap12:operation soapAction="http://tempuri.org/UpdateDetailedDiagnosticsStateByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDetailedDiagnosticsState">
      <soap12:operation soapAction="http://tempuri.org/UpdateDetailedDiagnosticsState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadDetailedDiagnosticsData">
      <soap12:operation soapAction="http://tempuri.org/ReadDetailedDiagnosticsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStartingDataForDetailedDiagnostics">
      <soap12:operation soapAction="http://tempuri.org/ReadStartingDataForDetailedDiagnostics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClientEventsFromDetailedDiagnostics">
      <soap12:operation soapAction="http://tempuri.org/DeleteClientEventsFromDetailedDiagnostics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClientFilters">
      <soap12:operation soapAction="http://tempuri.org/DeleteClientFilters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadClientFilters">
      <soap12:operation soapAction="http://tempuri.org/ReadClientFilters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientFilters">
      <soap12:operation soapAction="http://tempuri.org/UpdateClientFilters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>