General.Service/Web References/OssDiagnostics/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" id="schema1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://microsoft.com/wsdl/types/" />
  <xs:element name="SendDiagnosticRequestToDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="url" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDiagnosticRequestToDeviceResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SendRebootRequestToDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="message" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="timeout" type="xs:long" />
        <xs:element minOccurs="0" maxOccurs="1" name="reason" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="forceReboot" type="xs:boolean" />
        <xs:any minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRebootRequestToDeviceResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="SendDataRefreshNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="groupExternalIds" type="tns:ArrayOfString" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendDataRefreshNotificationResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateDetailedDiagnosticsStateByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="expirationTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetailedDiagnosticsStateByDateResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="UpdateDetailedDiagnosticsState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="enabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetailedDiagnosticsStateResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadDetailedDiagnosticsData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="deviceExternalId" type="q1:guid" />
        <xs:element minOccurs="0" maxOccurs="1" name="sgUrl" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="startNum" type="xs:long" />
        <xs:element minOccurs="1" maxOccurs="1" name="numEvents" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDetailedDiagnosticsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadDetailedDiagnosticsDataResult" type="tns:ArrayOfClientEvents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfClientEvents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientEvents" nillable="true" type="tns:ClientEvents" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientEvents">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Id" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubSystem" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Data" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Severity" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReadStartingDataForDetailedDiagnostics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="xs:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="time" type="xs:dateTime" />
        <xs:element xmlns:q2="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="deviceId" type="q2:guid" />
        <xs:element minOccurs="0" maxOccurs="1" name="sgURL" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStartingDataForDetailedDiagnosticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="ReadStartingDataForDetailedDiagnosticsResult" type="xs:long" />
        <xs:element xmlns:q3="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="deviceId" type="q3:guid" />
        <xs:element minOccurs="0" maxOccurs="1" name="sgURL" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientEventsFromDetailedDiagnostics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientEventsFromDetailedDiagnosticsResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="DeleteClientFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientFiltersResponse">
    <xs:complexType />
  </xs:element>
  <xs:element name="ReadClientFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadClientFiltersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="ReadClientFiltersResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientFilters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="deviceExternalId" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="status" type="tns:ArrayOfClientFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfClientFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientFilter" nillable="true" type="tns:ClientFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientFilter">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CategoryType" type="tns:ClientFilterType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ItemName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SinkName" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Enabled" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ClientFilterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ByLogLevel" />
      <xs:enumeration value="ByCategory" />
      <xs:enumeration value="ByEventName" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UpdateClientFiltersResponse">
    <xs:complexType />
  </xs:element>
</xs:schema>