General.Service/Web References/Billing/BillingRecordManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.microsoft.com/iptv/bss" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.microsoft.com/iptv/bss" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.microsoft.com/iptv/bss">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ReadBillingRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="record" type="tns:BillingRecord" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BillingRecord">
        <s:attribute name="PrincipalExternalId" type="s:string" />
        <s:attribute name="PrincipalType" type="tns:PrincipalType" use="required" />
        <s:attribute name="Id" type="s1:guid" use="required" />
        <s:attribute name="ResourceId" type="s1:guid" use="required" />
        <s:attribute name="ResourceExternalId" type="s:string" />
        <s:attribute name="PurchaseDateTime" type="s:dateTime" use="required" />
        <s:attribute name="Price" type="s:string" />
        <s:attribute name="ExternalId" type="s:string" />
        <s:attribute name="Status" type="tns:BillingEventStatus" use="required" />
        <s:attribute name="SubSystem" type="s:string" />
        <s:attribute name="StartDate" type="s:dateTime" use="required" />
        <s:attribute name="EndDate" type="s:dateTime" use="required" />
      </s:complexType>
      <s:simpleType name="PrincipalType">
        <s:restriction base="s:string">
          <s:enumeration value="Account" />
          <s:enumeration value="Device" />
          <s:enumeration value="Group" />
          <s:enumeration value="User" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="BillingEventStatus">
        <s:restriction base="s:string">
          <s:enumeration value="UnRead" />
          <s:enumeration value="Read" />
          <s:enumeration value="Recorded" />
          <s:enumeration value="Deletable" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ReadBillingRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadBillingRecordResult" type="tns:ArrayOfBillingRecord" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBillingRecord">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BillingRecord" nillable="true" type="tns:BillingRecord" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteBillingRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="record" type="tns:BillingRecord" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBillingRecordResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateBillingRecordStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="record" type="tns:BillingRecord" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBillingRecordStatusResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadBillingRecordSoapIn">
    <wsdl:part name="parameters" element="tns:ReadBillingRecord" />
  </wsdl:message>
  <wsdl:message name="ReadBillingRecordSoapOut">
    <wsdl:part name="parameters" element="tns:ReadBillingRecordResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBillingRecordSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBillingRecord" />
  </wsdl:message>
  <wsdl:message name="DeleteBillingRecordSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBillingRecordResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBillingRecordStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBillingRecordStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateBillingRecordStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBillingRecordStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="BillingRecordManagementSoap">
    <wsdl:operation name="ReadBillingRecord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Billing Records</wsdl:documentation>
      <wsdl:input message="tns:ReadBillingRecordSoapIn" />
      <wsdl:output message="tns:ReadBillingRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBillingRecord">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Delete Billing Records</wsdl:documentation>
      <wsdl:input message="tns:DeleteBillingRecordSoapIn" />
      <wsdl:output message="tns:DeleteBillingRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBillingRecordStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update Billing Record Status</wsdl:documentation>
      <wsdl:input message="tns:UpdateBillingRecordStatusSoapIn" />
      <wsdl:output message="tns:UpdateBillingRecordStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillingRecordManagementSoap" type="tns:BillingRecordManagementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadBillingRecord">
      <soap:operation soapAction="http://microsoft.com/iptv/bss/ReadBillingRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBillingRecord">
      <soap:operation soapAction="http://microsoft.com/iptv/bss/DeleteBillingRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBillingRecordStatus">
      <soap:operation soapAction="http://microsoft.com/iptv/bss/UpdateBillingRecordStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BillingRecordManagementSoap1" type="tns:BillingRecordManagementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadBillingRecord">
      <soap12:operation soapAction="http://microsoft.com/iptv/bss/ReadBillingRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBillingRecord">
      <soap12:operation soapAction="http://microsoft.com/iptv/bss/DeleteBillingRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBillingRecordStatus">
      <soap12:operation soapAction="http://microsoft.com/iptv/bss/UpdateBillingRecordStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillingRecordManagement">
    <wsdl:port name="BillingRecordManagementSoap" binding="tns:BillingRecordManagementSoap">
      <soap:address location="http://172.27.65.18/bss/BillingRecordManagement.asmx" />
    </wsdl:port>
    <wsdl:port name="BillingRecordManagementSoap1" binding="tns:BillingRecordManagementSoap1">
      <soap12:address location="http://172.27.65.18/bss/BillingRecordManagement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>