General.Service/Web References/OssUINotifications/UI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SendMessageToAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nativeId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="deliveryTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="notificationData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageToAccountResponse">
        <s:complexType />
      </s:element>
      <s:element name="BroadcastMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="notificationData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="deliveryTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BroadcastMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="BroadcastMessageToGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="notificationData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="deliveryTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="grpExternalIds" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BroadcastMessageToGroupsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMessageToDevices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="devices" type="tns:ArrayOfGuid" />
            <s:element minOccurs="1" maxOccurs="1" name="deliveryTime" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="expirationTime" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="notificationData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessageToDevicesResponse">
        <s:complexType />
      </s:element>
      <s:element name="LaunchClientApplication">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="externalId" type="tns:ExternalId" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationUri" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExternalId" abstract="true" />
      <s:complexType name="StringExternalId">
        <s:complexContent mixed="false">
          <s:extension base="tns:ExternalId">
            <s:attribute name="Id" type="s:string" />
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DeviceExternalId">
        <s:complexContent mixed="false">
          <s:extension base="tns:StringExternalId" />
        </s:complexContent>
      </s:complexType>
      <s:element name="LaunchClientApplicationResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageToAccountSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageToAccount" />
  </wsdl:message>
  <wsdl:message name="SendMessageToAccountSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageToAccountResponse" />
  </wsdl:message>
  <wsdl:message name="BroadcastMessageSoapIn">
    <wsdl:part name="parameters" element="tns:BroadcastMessage" />
  </wsdl:message>
  <wsdl:message name="BroadcastMessageSoapOut">
    <wsdl:part name="parameters" element="tns:BroadcastMessageResponse" />
  </wsdl:message>
  <wsdl:message name="BroadcastMessageToGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:BroadcastMessageToGroups" />
  </wsdl:message>
  <wsdl:message name="BroadcastMessageToGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:BroadcastMessageToGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageToDevicesSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessageToDevices" />
  </wsdl:message>
  <wsdl:message name="SendMessageToDevicesSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageToDevicesResponse" />
  </wsdl:message>
  <wsdl:message name="LaunchClientApplicationSoapIn">
    <wsdl:part name="parameters" element="tns:LaunchClientApplication" />
  </wsdl:message>
  <wsdl:message name="LaunchClientApplicationSoapOut">
    <wsdl:part name="parameters" element="tns:LaunchClientApplicationResponse" />
  </wsdl:message>
  <wsdl:portType name="UINotificationsWSSoap">
    <wsdl:operation name="SendMessageToAccount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a notification to all devices associated with an account</wsdl:documentation>
      <wsdl:input message="tns:SendMessageToAccountSoapIn" />
      <wsdl:output message="tns:SendMessageToAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastMessage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a notification to everyone</wsdl:documentation>
      <wsdl:input message="tns:BroadcastMessageSoapIn" />
      <wsdl:output message="tns:BroadcastMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BroadcastMessageToGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a notification to specified subscribergroups</wsdl:documentation>
      <wsdl:input message="tns:BroadcastMessageToGroupsSoapIn" />
      <wsdl:output message="tns:BroadcastMessageToGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageToDevices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Sends a notification to one or more devices</wsdl:documentation>
      <wsdl:input message="tns:SendMessageToDevicesSoapIn" />
      <wsdl:output message="tns:SendMessageToDevicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LaunchClientApplication">
      <wsdl:input message="tns:LaunchClientApplicationSoapIn" />
      <wsdl:output message="tns:LaunchClientApplicationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UINotificationsWSSoap" type="tns:UINotificationsWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessageToAccount">
      <soap:operation soapAction="http://tempuri.org/SendMessageToAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastMessage">
      <soap:operation soapAction="http://tempuri.org/BroadcastMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastMessageToGroups">
      <soap:operation soapAction="http://tempuri.org/BroadcastMessageToGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToDevices">
      <soap:operation soapAction="http://tempuri.org/SendMessageToDevices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaunchClientApplication">
      <soap:operation soapAction="http://tempuri.org/LaunchClientApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UINotificationsWSSoap12" type="tns:UINotificationsWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessageToAccount">
      <soap12:operation soapAction="http://tempuri.org/SendMessageToAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastMessage">
      <soap12:operation soapAction="http://tempuri.org/BroadcastMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BroadcastMessageToGroups">
      <soap12:operation soapAction="http://tempuri.org/BroadcastMessageToGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageToDevices">
      <soap12:operation soapAction="http://tempuri.org/SendMessageToDevices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaunchClientApplication">
      <soap12:operation soapAction="http://tempuri.org/LaunchClientApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UINotificationsWS">
    <wsdl:port name="UINotificationsWSSoap" binding="tns:UINotificationsWSSoap">
      <soap:address location="http://localhost/ossNotifications/UI.asmx" />
    </wsdl:port>
    <wsdl:port name="UINotificationsWSSoap12" binding="tns:UINotificationsWSSoap12">
      <soap12:address location="http://localhost/ossNotifications/UI.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>