General.Service/Web References/OssChannel/ChannelManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="Microsoft.TV2.Oss.Channel" xmlns:s1="Microsoft.TV2.SI" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="Microsoft.TV2.Oss.Channel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="Microsoft.TV2.Oss.Channel">
      <s:import namespace="Microsoft.TV2.SI" />
      <s:element name="CreateChannelMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelMapName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channels" type="tns:ArrayOfChannelMapItem" />
            <s:element minOccurs="1" maxOccurs="1" name="isDefault" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChannelMapItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChannelMapItem" nillable="true" type="tns:ChannelMapItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChannelMapItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EpgId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MapId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCollectionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCollectionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Services" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TunerPosition" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChannelGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateChannelMapResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateChannelMap2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelMapName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channels" type="tns:ArrayOfChannelMapItem2" />
            <s:element minOccurs="1" maxOccurs="1" name="isDefault" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfChannelMapItem2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ChannelMapItem2" nillable="true" type="tns:ChannelMapItem2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ChannelMapItem2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StationId" type="tns:EntityId" />
          <s:element minOccurs="0" maxOccurs="1" name="MapId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCollectionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCollectionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Services" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TunerPosition" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ChannelGroup" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EntityId">
        <s:attribute name="NativeIdScope" type="s:string" />
        <s:attribute name="NativeId" type="s:string" />
      </s:complexType>
      <s:element name="CreateChannelMap2Response">
        <s:complexType />
      </s:element>
      <s:element name="CreateMediaDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mediaDescItem" type="tns:MediaDescriptionItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MediaDescriptionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CallLetter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EpgId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCollectionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCollectionName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DisableDvrSkip" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Services" type="tns:ArrayOfServiceItem" />
          <s:element minOccurs="0" maxOccurs="1" name="ServicesString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfServiceItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceItem" nillable="true" type="tns:ServiceItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ServiceItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Hint" type="s1:ServiceHint" />
          <s:element minOccurs="0" maxOccurs="1" name="SubSystemData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Intent" type="s1:Intent" />
          <s:element minOccurs="1" maxOccurs="1" name="ServiceOrder" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubSystem" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateMediaDescriptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateMediaDescription2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mediaDescItem" type="tns:MediaDescriptionItem2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MediaDescriptionItem2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CallLetter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StationId" type="tns:EntityId" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCollectionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceCollectionName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DisableDvrSkip" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Services" type="tns:ArrayOfServiceItem" />
          <s:element minOccurs="0" maxOccurs="1" name="ServicesString" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateMediaDescription2Response">
        <s:complexType />
      </s:element>
      <s:element name="SetDefaultChannelMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelMapName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDefaultChannelMapResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteChannelMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelMapName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteChannelMapResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteMediaDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mediaDescId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMediaDescriptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetListingsChannels">
        <s:complexType />
      </s:element>
      <s:element name="GetListingsChannelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListingsChannelsResult" type="tns:ArrayOfListingsChannelItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfListingsChannelItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListingsChannelItem" nillable="true" type="tns:ListingsChannelItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListingsChannelItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CallLetter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EpgId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NativeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DvbTriplets" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProgType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="tns:ArrayOfXmlElement" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfXmlElement">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="XmlElement" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="GetListingsChannels2">
        <s:complexType />
      </s:element>
      <s:element name="GetListingsChannels2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListingsChannels2Result" type="tns:ArrayOfListingsChannelItem2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfListingsChannelItem2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListingsChannelItem2" nillable="true" type="tns:ListingsChannelItem2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListingsChannelItem2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CallLetter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EpgId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DvbTriplets" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StationId" type="tns:EntityId" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProgType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="tns:ArrayOfXmlElement" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLiveCallLetters">
        <s:complexType />
      </s:element>
      <s:element name="GetLiveCallLettersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLiveCallLettersResult" type="tns:ArrayOfCallLetterItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCallLetterItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CallLetterItem" nillable="true" type="tns:CallLetterItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CallLetterItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CallLetter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EpgId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetLiveCallLetters2">
        <s:complexType />
      </s:element>
      <s:element name="GetLiveCallLetters2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLiveCallLetters2Result" type="tns:ArrayOfCallLetterItem2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCallLetterItem2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CallLetterItem2" nillable="true" type="tns:CallLetterItem2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CallLetterItem2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CallLetter" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StationId" type="tns:EntityId" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCallLetters">
        <s:complexType />
      </s:element>
      <s:element name="GetCallLettersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCallLettersResult" type="tns:ArrayOfCallLetterItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCallLetters2">
        <s:complexType />
      </s:element>
      <s:element name="GetCallLetters2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCallLetters2Result" type="tns:ArrayOfCallLetterItem2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPPVCallLetters">
        <s:complexType />
      </s:element>
      <s:element name="GetPPVCallLettersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPPVCallLettersResult" type="tns:ArrayOfCallLetterItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPPVCallLetters2">
        <s:complexType />
      </s:element>
      <s:element name="GetPPVCallLetters2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPPVCallLetters2Result" type="tns:ArrayOfCallLetterItem2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelMaps">
        <s:complexType />
      </s:element>
      <s:element name="GetChannelMapsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelMapsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChannels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelMapName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannelsResult" type="tns:ArrayOfChannelMapItem" />
            <s:element minOccurs="1" maxOccurs="1" name="isDefault" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannels2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelMapName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChannels2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChannels2Result" type="tns:ArrayOfChannelMapItem2" />
            <s:element minOccurs="1" maxOccurs="1" name="isDefault" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllMediaDescriptions">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMediaDescriptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMediaDescriptionsResult" type="tns:ArrayOfMediaDescriptionItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMediaDescriptionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MediaDescriptionItem" nillable="true" type="tns:MediaDescriptionItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllMediaDescriptions2">
        <s:complexType />
      </s:element>
      <s:element name="GetAllMediaDescriptions2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllMediaDescriptions2Result" type="tns:ArrayOfMediaDescriptionItem2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMediaDescriptionItem2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MediaDescriptionItem2" nillable="true" type="tns:MediaDescriptionItem2" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetNonPPVMediaDescriptions">
        <s:complexType />
      </s:element>
      <s:element name="GetNonPPVMediaDescriptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNonPPVMediaDescriptionsResult" type="tns:ArrayOfMediaDescriptionItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNonPPVMediaDescriptions2">
        <s:complexType />
      </s:element>
      <s:element name="GetNonPPVMediaDescriptions2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNonPPVMediaDescriptions2Result" type="tns:ArrayOfMediaDescriptionItem2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPPVMediaDescriptions">
        <s:complexType />
      </s:element>
      <s:element name="GetPPVMediaDescriptionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPPVMediaDescriptionsResult" type="tns:ArrayOfMediaDescriptionItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPPVMediaDescriptions2">
        <s:complexType />
      </s:element>
      <s:element name="GetPPVMediaDescriptions2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPPVMediaDescriptions2Result" type="tns:ArrayOfMediaDescriptionItem2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mediaDescId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMediaDescriptionResult" type="tns:MediaDescriptionItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaDescription2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mediaDescId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMediaDescription2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMediaDescription2Result" type="tns:MediaDescriptionItem2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServices">
        <s:complexType />
      </s:element>
      <s:element name="GetServicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServicesResult" type="tns:ServiceData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LiveServices" type="tns:ArrayOfServiceItem" />
          <s:element minOccurs="0" maxOccurs="1" name="MPEG2Services" type="tns:ArrayOfServiceItem" />
          <s:element minOccurs="0" maxOccurs="1" name="RDPServices" type="tns:ArrayOfServiceItem" />
          <s:element minOccurs="0" maxOccurs="1" name="VODServices" type="tns:ArrayOfServiceItem" />
          <s:element minOccurs="0" maxOccurs="1" name="URLServices" type="tns:ArrayOfServiceItem" />
          <s:element minOccurs="0" maxOccurs="1" name="DVBTServices" type="tns:ArrayOfServiceItem" />
          <s:element minOccurs="0" maxOccurs="1" name="GenericServices" type="tns:ArrayOfServiceItem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceResult" type="tns:ServiceItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LookupMediaDescReferences">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mediaDescId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LookupMediaDescReferencesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LookupMediaDescReferencesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateChannelMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelMapName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channels" type="tns:ArrayOfChannelMapItem" />
            <s:element minOccurs="1" maxOccurs="1" name="isDefault" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="newChannelMapName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateChannelMapResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateChannelMap2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="channelMapName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="channels" type="tns:ArrayOfChannelMapItem2" />
            <s:element minOccurs="1" maxOccurs="1" name="isDefault" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="newChannelMapName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateChannelMap2Response">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMediaDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mediaDescItem" type="tns:MediaDescriptionItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMediaDescriptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateMediaDescription2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mediaDescItem" type="tns:MediaDescriptionItem2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateMediaDescription2Response">
        <s:complexType />
      </s:element>
      <s:element name="GetSubsGrpChannelMaps">
        <s:complexType />
      </s:element>
      <s:element name="GetSubsGrpChannelMapsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubsGrpChannelMapsResult" type="tns:ArrayOfSubsGroupChannelMapItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubsGroupChannelMapItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubsGroupChannelMapItem" nillable="true" type="tns:SubsGroupChannelMapItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubsGroupChannelMapItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SubscriberGroupId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChannelMapId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubscriberGroupName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChannelMapName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MapSubsGroupToChannelMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chMapName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MapSubsGroupToChannelMapResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetGlobalSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="key" type="tns:GlobalSettingKey" />
            <s:element minOccurs="0" maxOccurs="1" name="val" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="GlobalSettingKey">
        <s:restriction base="s:string">
          <s:enumeration value="PauseBufferLength" />
          <s:enumeration value="PConUnlockPeriodInMinutes" />
          <s:enumeration value="AdultUnlockPeriodInMinutes" />
          <s:enumeration value="AllowChannelReordering" />
          <s:enumeration value="AppKeyURL1" />
          <s:enumeration value="AppKeyURL2" />
          <s:enumeration value="AppKeyURL3" />
          <s:enumeration value="AppKeyURL4" />
          <s:enumeration value="AppKeyURL5" />
          <s:enumeration value="AppKeyURL6" />
          <s:enumeration value="AppHelpURL" />
          <s:enumeration value="ScreenSaverTimeoutMinutes" />
          <s:enumeration value="RelockOnChannelChange" />
          <s:enumeration value="AdultRatingLocked" />
          <s:enumeration value="EventQueueSize" />
          <s:enumeration value="TuneEvtLogSeconds" />
          <s:enumeration value="EventUploadHours" />
          <s:enumeration value="EnabledPinTypes" />
          <s:enumeration value="ClientMenus" />
          <s:enumeration value="CustomStrings" />
          <s:enumeration value="CreditLimitChangeApp" />
          <s:enumeration value="PinRetryLimit" />
          <s:enumeration value="PinRetryTimeoutMinutes" />
          <s:enumeration value="AdultPinRetryLimit" />
          <s:enumeration value="AdultPinRetryTimeoutMinutes" />
          <s:enumeration value="PurchasePinRetryLimit" />
          <s:enumeration value="PurchasePinRetryTimeoutMinutes" />
          <s:enumeration value="DisableICC" />
          <s:enumeration value="DisabledEventIds" />
          <s:enumeration value="HDStreams" />
          <s:enumeration value="SDStreams" />
          <s:enumeration value="DVREnabled" />
          <s:enumeration value="TimeZone" />
          <s:enumeration value="DetuneTimeoutHours" />
          <s:enumeration value="RequirePinToRecordBlockedShows" />
          <s:enumeration value="CGMSA_CopyFreely_Buffering" />
          <s:enumeration value="CGMSA_CopyFreely_Recording" />
          <s:enumeration value="CGMSA_CopyOnce_Buffering" />
          <s:enumeration value="CGMSA_CopyOnce_Recording" />
          <s:enumeration value="CGMSA_CopyNever_Buffering" />
          <s:enumeration value="CGMSA_CopyNever_Recording" />
          <s:enumeration value="DvrSkip" />
          <s:enumeration value="ParentalControlState" />
          <s:enumeration value="HideNoRightsChannels" />
          <s:enumeration value="DRMBlackoutNotificationInterval" />
          <s:enumeration value="NonDRMBlackoutNotificationInterval" />
          <s:enumeration value="EITCountryCode" />
          <s:enumeration value="EITRatingSystem" />
          <s:enumeration value="EITRatingSystem_Name" />
          <s:enumeration value="UseMappedServerChannelsOnly" />
          <s:enumeration value="ServerChannelsMappedFirst" />
          <s:enumeration value="CreditLimitCheckEnabled" />
          <s:enumeration value="ExpiredDServerSeconds" />
          <s:enumeration value="ExposedUserStoreKeys" />
          <s:enumeration value="AllowNegativeOfferPrice" />
          <s:enumeration value="ExternalPurchaseURL" />
          <s:enumeration value="EnableEPGPhase2Guide" />
          <s:enumeration value="GuideIISDownloadBlockSize" />
          <s:enumeration value="GuideIISDownloadSleepTimeMS" />
          <s:enumeration value="GuideEnableServerPolling" />
          <s:enumeration value="GuideCurrentWindowMinimumHours" />
          <s:enumeration value="GuideFutureWindowMinimumHours" />
          <s:enumeration value="GuideBrowseBarMinimumHours" />
          <s:enumeration value="GuideMinimumRequiredListingsHours" />
          <s:enumeration value="GuideUpdateSpreadSeconds" />
          <s:enumeration value="GuideDataStoreMaxSize" />
          <s:enumeration value="GuideDataStoreFileCount" />
          <s:enumeration value="GuideDataStoreFileMinimumSize" />
          <s:enumeration value="GuideDataStoreName" />
          <s:enumeration value="GuideNumFutureWindows" />
          <s:enumeration value="GuideNumFutureWindows_Channel" />
          <s:enumeration value="GuideStationsPerRequest_Current" />
          <s:enumeration value="GuideStationsPerRequest_Future" />
          <s:enumeration value="GuideStationsPerRequest_MD" />
          <s:enumeration value="GuideWindowSizeHours_Current" />
          <s:enumeration value="GuideWindowSizeHours_Future" />
          <s:enumeration value="GuideFailureRetryStartSeconds" />
          <s:enumeration value="GuideFailureRetrySpanSeconds" />
          <s:enumeration value="GuideDisplayReserve" />
          <s:enumeration value="SecondsToBlockDescriptionRequests" />
          <s:enumeration value="BackwardGridGuideHours" />
          <s:enumeration value="PastListingsDataDurationInHours" />
          <s:enumeration value="MaxListingsDataDurationInHours" />
          <s:enumeration value="VodBlockSizeKB" />
          <s:enumeration value="VodMaxReadSizeKB" />
          <s:enumeration value="VodInitialMinDataRateKbs" />
          <s:enumeration value="VodMaxSessionCount" />
          <s:enumeration value="WebProxyConfiguration" />
          <s:enumeration value="NavigationTargetMappingFile" />
          <s:enumeration value="CU_RequestsPerSecond" />
          <s:enumeration value="CU_Schedule" />
          <s:enumeration value="CU_UpgradeOperationFlag" />
          <s:enumeration value="ActiveUniverse" />
          <s:enumeration value="ActivityLoggingEnabled" />
          <s:enumeration value="AlertToneDuration" />
          <s:enumeration value="AvailableUniverses" />
          <s:enumeration value="CanDetuneOnAlert" />
          <s:enumeration value="DvrNotificationDelay" />
          <s:enumeration value="EnableSeriesPriority" />
          <s:enumeration value="EAS911MediaDescriptor" />
          <s:enumeration value="EgressProfile" />
          <s:enumeration value="IndividualDCT" />
          <s:enumeration value="IndividualFloor" />
          <s:enumeration value="IndividualFudge" />
          <s:enumeration value="IndividualFuzz" />
          <s:enumeration value="IndividualMCT" />
          <s:enumeration value="IngressProfile" />
          <s:enumeration value="LastVolume" />
          <s:enumeration value="LiveServiceOverrideDefault" />
          <s:enumeration value="LiveServicesEnabled" />
          <s:enumeration value="PremiumServiceOverride" />
          <s:enumeration value="ShowAlertConfirmDialog" />
          <s:enumeration value="SslIntermediateCerts" />
          <s:enumeration value="SslKeyPairAndCert" />
          <s:enumeration value="SslTrustedRootCerts" />
          <s:enumeration value="UniverseDefinition" />
          <s:enumeration value="PFStoreFront" />
          <s:enumeration value="MapFeatures" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SetGlobalSettingResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetGlobalSetting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="key" type="tns:GlobalSettingKey" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGlobalSettingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGlobalSettingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="Microsoft.TV2.SI">
      <s:simpleType name="ServiceHint">
        <s:restriction base="s:string">
          <s:enumeration value="FULLSCREEN" />
          <s:enumeration value="PIP" />
          <s:enumeration value="GENERIC" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="Intent">
        <s:restriction base="s:string">
          <s:enumeration value="FULLSCREEN_PRIMARY" />
          <s:enumeration value="PIP_PRIMARY" />
          <s:enumeration value="FULLSCREEN_SECONDARY" />
          <s:enumeration value="PIP_SECONDARY" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateChannelMapSoapIn">
    <wsdl:part name="parameters" element="tns:CreateChannelMap" />
  </wsdl:message>
  <wsdl:message name="CreateChannelMapSoapOut">
    <wsdl:part name="parameters" element="tns:CreateChannelMapResponse" />
  </wsdl:message>
  <wsdl:message name="CreateChannelMap2SoapIn">
    <wsdl:part name="parameters" element="tns:CreateChannelMap2" />
  </wsdl:message>
  <wsdl:message name="CreateChannelMap2SoapOut">
    <wsdl:part name="parameters" element="tns:CreateChannelMap2Response" />
  </wsdl:message>
  <wsdl:message name="CreateMediaDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateMediaDescription" />
  </wsdl:message>
  <wsdl:message name="CreateMediaDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateMediaDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="CreateMediaDescription2SoapIn">
    <wsdl:part name="parameters" element="tns:CreateMediaDescription2" />
  </wsdl:message>
  <wsdl:message name="CreateMediaDescription2SoapOut">
    <wsdl:part name="parameters" element="tns:CreateMediaDescription2Response" />
  </wsdl:message>
  <wsdl:message name="SetDefaultChannelMapSoapIn">
    <wsdl:part name="parameters" element="tns:SetDefaultChannelMap" />
  </wsdl:message>
  <wsdl:message name="SetDefaultChannelMapSoapOut">
    <wsdl:part name="parameters" element="tns:SetDefaultChannelMapResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteChannelMapSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteChannelMap" />
  </wsdl:message>
  <wsdl:message name="DeleteChannelMapSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteChannelMapResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMediaDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMediaDescription" />
  </wsdl:message>
  <wsdl:message name="DeleteMediaDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMediaDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetListingsChannelsSoapIn">
    <wsdl:part name="parameters" element="tns:GetListingsChannels" />
  </wsdl:message>
  <wsdl:message name="GetListingsChannelsSoapOut">
    <wsdl:part name="parameters" element="tns:GetListingsChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="GetListingsChannels2SoapIn">
    <wsdl:part name="parameters" element="tns:GetListingsChannels2" />
  </wsdl:message>
  <wsdl:message name="GetListingsChannels2SoapOut">
    <wsdl:part name="parameters" element="tns:GetListingsChannels2Response" />
  </wsdl:message>
  <wsdl:message name="GetLiveCallLettersSoapIn">
    <wsdl:part name="parameters" element="tns:GetLiveCallLetters" />
  </wsdl:message>
  <wsdl:message name="GetLiveCallLettersSoapOut">
    <wsdl:part name="parameters" element="tns:GetLiveCallLettersResponse" />
  </wsdl:message>
  <wsdl:message name="GetLiveCallLetters2SoapIn">
    <wsdl:part name="parameters" element="tns:GetLiveCallLetters2" />
  </wsdl:message>
  <wsdl:message name="GetLiveCallLetters2SoapOut">
    <wsdl:part name="parameters" element="tns:GetLiveCallLetters2Response" />
  </wsdl:message>
  <wsdl:message name="GetCallLettersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCallLetters" />
  </wsdl:message>
  <wsdl:message name="GetCallLettersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCallLettersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCallLetters2SoapIn">
    <wsdl:part name="parameters" element="tns:GetCallLetters2" />
  </wsdl:message>
  <wsdl:message name="GetCallLetters2SoapOut">
    <wsdl:part name="parameters" element="tns:GetCallLetters2Response" />
  </wsdl:message>
  <wsdl:message name="GetPPVCallLettersSoapIn">
    <wsdl:part name="parameters" element="tns:GetPPVCallLetters" />
  </wsdl:message>
  <wsdl:message name="GetPPVCallLettersSoapOut">
    <wsdl:part name="parameters" element="tns:GetPPVCallLettersResponse" />
  </wsdl:message>
  <wsdl:message name="GetPPVCallLetters2SoapIn">
    <wsdl:part name="parameters" element="tns:GetPPVCallLetters2" />
  </wsdl:message>
  <wsdl:message name="GetPPVCallLetters2SoapOut">
    <wsdl:part name="parameters" element="tns:GetPPVCallLetters2Response" />
  </wsdl:message>
  <wsdl:message name="GetChannelMapsSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannelMaps" />
  </wsdl:message>
  <wsdl:message name="GetChannelMapsSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelMapsResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannelsSoapIn">
    <wsdl:part name="parameters" element="tns:GetChannels" />
  </wsdl:message>
  <wsdl:message name="GetChannelsSoapOut">
    <wsdl:part name="parameters" element="tns:GetChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="GetChannels2SoapIn">
    <wsdl:part name="parameters" element="tns:GetChannels2" />
  </wsdl:message>
  <wsdl:message name="GetChannels2SoapOut">
    <wsdl:part name="parameters" element="tns:GetChannels2Response" />
  </wsdl:message>
  <wsdl:message name="GetAllMediaDescriptionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMediaDescriptions" />
  </wsdl:message>
  <wsdl:message name="GetAllMediaDescriptionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMediaDescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllMediaDescriptions2SoapIn">
    <wsdl:part name="parameters" element="tns:GetAllMediaDescriptions2" />
  </wsdl:message>
  <wsdl:message name="GetAllMediaDescriptions2SoapOut">
    <wsdl:part name="parameters" element="tns:GetAllMediaDescriptions2Response" />
  </wsdl:message>
  <wsdl:message name="GetNonPPVMediaDescriptionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetNonPPVMediaDescriptions" />
  </wsdl:message>
  <wsdl:message name="GetNonPPVMediaDescriptionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetNonPPVMediaDescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetNonPPVMediaDescriptions2SoapIn">
    <wsdl:part name="parameters" element="tns:GetNonPPVMediaDescriptions2" />
  </wsdl:message>
  <wsdl:message name="GetNonPPVMediaDescriptions2SoapOut">
    <wsdl:part name="parameters" element="tns:GetNonPPVMediaDescriptions2Response" />
  </wsdl:message>
  <wsdl:message name="GetPPVMediaDescriptionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPPVMediaDescriptions" />
  </wsdl:message>
  <wsdl:message name="GetPPVMediaDescriptionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPPVMediaDescriptionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPPVMediaDescriptions2SoapIn">
    <wsdl:part name="parameters" element="tns:GetPPVMediaDescriptions2" />
  </wsdl:message>
  <wsdl:message name="GetPPVMediaDescriptions2SoapOut">
    <wsdl:part name="parameters" element="tns:GetPPVMediaDescriptions2Response" />
  </wsdl:message>
  <wsdl:message name="GetMediaDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:GetMediaDescription" />
  </wsdl:message>
  <wsdl:message name="GetMediaDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:GetMediaDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="GetMediaDescription2SoapIn">
    <wsdl:part name="parameters" element="tns:GetMediaDescription2" />
  </wsdl:message>
  <wsdl:message name="GetMediaDescription2SoapOut">
    <wsdl:part name="parameters" element="tns:GetMediaDescription2Response" />
  </wsdl:message>
  <wsdl:message name="GetServicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="GetServicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="GetServiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetService" />
  </wsdl:message>
  <wsdl:message name="GetServiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceResponse" />
  </wsdl:message>
  <wsdl:message name="LookupMediaDescReferencesSoapIn">
    <wsdl:part name="parameters" element="tns:LookupMediaDescReferences" />
  </wsdl:message>
  <wsdl:message name="LookupMediaDescReferencesSoapOut">
    <wsdl:part name="parameters" element="tns:LookupMediaDescReferencesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateChannelMapSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateChannelMap" />
  </wsdl:message>
  <wsdl:message name="UpdateChannelMapSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateChannelMapResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateChannelMap2SoapIn">
    <wsdl:part name="parameters" element="tns:UpdateChannelMap2" />
  </wsdl:message>
  <wsdl:message name="UpdateChannelMap2SoapOut">
    <wsdl:part name="parameters" element="tns:UpdateChannelMap2Response" />
  </wsdl:message>
  <wsdl:message name="UpdateMediaDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMediaDescription" />
  </wsdl:message>
  <wsdl:message name="UpdateMediaDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMediaDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateMediaDescription2SoapIn">
    <wsdl:part name="parameters" element="tns:UpdateMediaDescription2" />
  </wsdl:message>
  <wsdl:message name="UpdateMediaDescription2SoapOut">
    <wsdl:part name="parameters" element="tns:UpdateMediaDescription2Response" />
  </wsdl:message>
  <wsdl:message name="GetSubsGrpChannelMapsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubsGrpChannelMaps" />
  </wsdl:message>
  <wsdl:message name="GetSubsGrpChannelMapsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubsGrpChannelMapsResponse" />
  </wsdl:message>
  <wsdl:message name="MapSubsGroupToChannelMapSoapIn">
    <wsdl:part name="parameters" element="tns:MapSubsGroupToChannelMap" />
  </wsdl:message>
  <wsdl:message name="MapSubsGroupToChannelMapSoapOut">
    <wsdl:part name="parameters" element="tns:MapSubsGroupToChannelMapResponse" />
  </wsdl:message>
  <wsdl:message name="SetGlobalSettingSoapIn">
    <wsdl:part name="parameters" element="tns:SetGlobalSetting" />
  </wsdl:message>
  <wsdl:message name="SetGlobalSettingSoapOut">
    <wsdl:part name="parameters" element="tns:SetGlobalSettingResponse" />
  </wsdl:message>
  <wsdl:message name="GetGlobalSettingSoapIn">
    <wsdl:part name="parameters" element="tns:GetGlobalSetting" />
  </wsdl:message>
  <wsdl:message name="GetGlobalSettingSoapOut">
    <wsdl:part name="parameters" element="tns:GetGlobalSettingResponse" />
  </wsdl:message>
  <wsdl:portType name="ChannelManagementSoap">
    <wsdl:operation name="CreateChannelMap">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a channel map.</wsdl:documentation>
      <wsdl:input message="tns:CreateChannelMapSoapIn" />
      <wsdl:output message="tns:CreateChannelMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateChannelMap2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a channel map.</wsdl:documentation>
      <wsdl:input message="tns:CreateChannelMap2SoapIn" />
      <wsdl:output message="tns:CreateChannelMap2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateMediaDescription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a media description(service collection and call letter pair).</wsdl:documentation>
      <wsdl:input message="tns:CreateMediaDescriptionSoapIn" />
      <wsdl:output message="tns:CreateMediaDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateMediaDescription2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Creates a media description(service collection and call letter pair).</wsdl:documentation>
      <wsdl:input message="tns:CreateMediaDescription2SoapIn" />
      <wsdl:output message="tns:CreateMediaDescription2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultChannelMap">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set a channel map to be the default channel Map.</wsdl:documentation>
      <wsdl:input message="tns:SetDefaultChannelMapSoapIn" />
      <wsdl:output message="tns:SetDefaultChannelMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChannelMap">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a channel map.</wsdl:documentation>
      <wsdl:input message="tns:DeleteChannelMapSoapIn" />
      <wsdl:output message="tns:DeleteChannelMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMediaDescription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes a media description including it's references from channel maps.</wsdl:documentation>
      <wsdl:input message="tns:DeleteMediaDescriptionSoapIn" />
      <wsdl:output message="tns:DeleteMediaDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListingsChannels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all listings channels.</wsdl:documentation>
      <wsdl:input message="tns:GetListingsChannelsSoapIn" />
      <wsdl:output message="tns:GetListingsChannelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListingsChannels2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all listings channels.</wsdl:documentation>
      <wsdl:input message="tns:GetListingsChannels2SoapIn" />
      <wsdl:output message="tns:GetListingsChannels2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLiveCallLetters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns LIVE call letters.</wsdl:documentation>
      <wsdl:input message="tns:GetLiveCallLettersSoapIn" />
      <wsdl:output message="tns:GetLiveCallLettersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLiveCallLetters2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns LIVE call letters.</wsdl:documentation>
      <wsdl:input message="tns:GetLiveCallLetters2SoapIn" />
      <wsdl:output message="tns:GetLiveCallLetters2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCallLetters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns call letters.</wsdl:documentation>
      <wsdl:input message="tns:GetCallLettersSoapIn" />
      <wsdl:output message="tns:GetCallLettersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCallLetters2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns call letters.</wsdl:documentation>
      <wsdl:input message="tns:GetCallLetters2SoapIn" />
      <wsdl:output message="tns:GetCallLetters2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPPVCallLetters">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns PPV call letters.</wsdl:documentation>
      <wsdl:input message="tns:GetPPVCallLettersSoapIn" />
      <wsdl:output message="tns:GetPPVCallLettersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPPVCallLetters2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns PPV call letters.</wsdl:documentation>
      <wsdl:input message="tns:GetPPVCallLetters2SoapIn" />
      <wsdl:output message="tns:GetPPVCallLetters2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelMaps">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of channel map names.</wsdl:documentation>
      <wsdl:input message="tns:GetChannelMapsSoapIn" />
      <wsdl:output message="tns:GetChannelMapsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannels">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of channels in a channel map.</wsdl:documentation>
      <wsdl:input message="tns:GetChannelsSoapIn" />
      <wsdl:output message="tns:GetChannelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetChannels2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of channels in a channel map.</wsdl:documentation>
      <wsdl:input message="tns:GetChannels2SoapIn" />
      <wsdl:output message="tns:GetChannels2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMediaDescriptions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of all media descriptions in the system.</wsdl:documentation>
      <wsdl:input message="tns:GetAllMediaDescriptionsSoapIn" />
      <wsdl:output message="tns:GetAllMediaDescriptionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMediaDescriptions2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of all media descriptions in the system.</wsdl:documentation>
      <wsdl:input message="tns:GetAllMediaDescriptions2SoapIn" />
      <wsdl:output message="tns:GetAllMediaDescriptions2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNonPPVMediaDescriptions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of non-PPV media descriptions in the system).</wsdl:documentation>
      <wsdl:input message="tns:GetNonPPVMediaDescriptionsSoapIn" />
      <wsdl:output message="tns:GetNonPPVMediaDescriptionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNonPPVMediaDescriptions2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of non-PPV media descriptions in the system).</wsdl:documentation>
      <wsdl:input message="tns:GetNonPPVMediaDescriptions2SoapIn" />
      <wsdl:output message="tns:GetNonPPVMediaDescriptions2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPPVMediaDescriptions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of PPV media descriptions in the system</wsdl:documentation>
      <wsdl:input message="tns:GetPPVMediaDescriptionsSoapIn" />
      <wsdl:output message="tns:GetPPVMediaDescriptionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPPVMediaDescriptions2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the list of PPV media descriptions in the system</wsdl:documentation>
      <wsdl:input message="tns:GetPPVMediaDescriptions2SoapIn" />
      <wsdl:output message="tns:GetPPVMediaDescriptions2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaDescription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a media description given a media description ID.</wsdl:documentation>
      <wsdl:input message="tns:GetMediaDescriptionSoapIn" />
      <wsdl:output message="tns:GetMediaDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMediaDescription2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a media description given a media description ID.</wsdl:documentation>
      <wsdl:input message="tns:GetMediaDescription2SoapIn" />
      <wsdl:output message="tns:GetMediaDescription2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the deployed services in the system.</wsdl:documentation>
      <wsdl:input message="tns:GetServicesSoapIn" />
      <wsdl:output message="tns:GetServicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the services for a given service id.</wsdl:documentation>
      <wsdl:input message="tns:GetServiceSoapIn" />
      <wsdl:output message="tns:GetServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LookupMediaDescReferences">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Looks up all references to a given media description id in the channel maps.</wsdl:documentation>
      <wsdl:input message="tns:LookupMediaDescReferencesSoapIn" />
      <wsdl:output message="tns:LookupMediaDescReferencesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChannelMap">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates a channel map with given name and array of ChannelMapItem object.</wsdl:documentation>
      <wsdl:input message="tns:UpdateChannelMapSoapIn" />
      <wsdl:output message="tns:UpdateChannelMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChannelMap2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates a channel map with given name and array of ChannelMapItem object.</wsdl:documentation>
      <wsdl:input message="tns:UpdateChannelMap2SoapIn" />
      <wsdl:output message="tns:UpdateChannelMap2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMediaDescription">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates a media description (service collection and call letter pair).</wsdl:documentation>
      <wsdl:input message="tns:UpdateMediaDescriptionSoapIn" />
      <wsdl:output message="tns:UpdateMediaDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMediaDescription2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates a media description (service collection and call letter pair).</wsdl:documentation>
      <wsdl:input message="tns:UpdateMediaDescription2SoapIn" />
      <wsdl:output message="tns:UpdateMediaDescription2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubsGrpChannelMaps">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the list of Subscriber groups and channel maps associated with them</wsdl:documentation>
      <wsdl:input message="tns:GetSubsGrpChannelMapsSoapIn" />
      <wsdl:output message="tns:GetSubsGrpChannelMapsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MapSubsGroupToChannelMap">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Map/Delete Subscriber groups and channel maps association</wsdl:documentation>
      <wsdl:input message="tns:MapSubsGroupToChannelMapSoapIn" />
      <wsdl:output message="tns:MapSubsGroupToChannelMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetGlobalSetting">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates a global setting.</wsdl:documentation>
      <wsdl:input message="tns:SetGlobalSettingSoapIn" />
      <wsdl:output message="tns:SetGlobalSettingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGlobalSetting">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a global setting.</wsdl:documentation>
      <wsdl:input message="tns:GetGlobalSettingSoapIn" />
      <wsdl:output message="tns:GetGlobalSettingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ChannelManagementSoap" type="tns:ChannelManagementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateChannelMap">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/CreateChannelMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChannelMap2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/CreateChannelMap2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMediaDescription">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/CreateMediaDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMediaDescription2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/CreateMediaDescription2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultChannelMap">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/SetDefaultChannelMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChannelMap">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/DeleteChannelMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMediaDescription">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/DeleteMediaDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingsChannels">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetListingsChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingsChannels2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetListingsChannels2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiveCallLetters">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetLiveCallLetters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiveCallLetters2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetLiveCallLetters2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallLetters">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetCallLetters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallLetters2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetCallLetters2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPPVCallLetters">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetPPVCallLetters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPPVCallLetters2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetPPVCallLetters2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelMaps">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetChannelMaps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannels">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannels2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetChannels2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMediaDescriptions">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetAllMediaDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMediaDescriptions2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetAllMediaDescriptions2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNonPPVMediaDescriptions">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetNonPPVMediaDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNonPPVMediaDescriptions2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetNonPPVMediaDescriptions2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPPVMediaDescriptions">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetPPVMediaDescriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPPVMediaDescriptions2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetPPVMediaDescriptions2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaDescription">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetMediaDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaDescription2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetMediaDescription2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetService">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LookupMediaDescReferences">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/LookupMediaDescReferences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChannelMap">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/UpdateChannelMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChannelMap2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/UpdateChannelMap2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMediaDescription">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/UpdateMediaDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMediaDescription2">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/UpdateMediaDescription2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubsGrpChannelMaps">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetSubsGrpChannelMaps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapSubsGroupToChannelMap">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/MapSubsGroupToChannelMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGlobalSetting">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/SetGlobalSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalSetting">
      <soap:operation soapAction="Microsoft.TV2.Oss.Channel/GetGlobalSetting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ChannelManagementSoap12" type="tns:ChannelManagementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateChannelMap">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/CreateChannelMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChannelMap2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/CreateChannelMap2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMediaDescription">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/CreateMediaDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMediaDescription2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/CreateMediaDescription2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultChannelMap">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/SetDefaultChannelMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChannelMap">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/DeleteChannelMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMediaDescription">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/DeleteMediaDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingsChannels">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetListingsChannels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListingsChannels2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetListingsChannels2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiveCallLetters">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetLiveCallLetters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLiveCallLetters2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetLiveCallLetters2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallLetters">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetCallLetters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCallLetters2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetCallLetters2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPPVCallLetters">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetPPVCallLetters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPPVCallLetters2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetPPVCallLetters2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelMaps">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetChannelMaps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannels">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetChannels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannels2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetChannels2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMediaDescriptions">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetAllMediaDescriptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMediaDescriptions2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetAllMediaDescriptions2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNonPPVMediaDescriptions">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetNonPPVMediaDescriptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNonPPVMediaDescriptions2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetNonPPVMediaDescriptions2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPPVMediaDescriptions">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetPPVMediaDescriptions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPPVMediaDescriptions2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetPPVMediaDescriptions2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaDescription">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetMediaDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMediaDescription2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetMediaDescription2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetServices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetService">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LookupMediaDescReferences">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/LookupMediaDescReferences" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChannelMap">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/UpdateChannelMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChannelMap2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/UpdateChannelMap2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMediaDescription">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/UpdateMediaDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMediaDescription2">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/UpdateMediaDescription2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubsGrpChannelMaps">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetSubsGrpChannelMaps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MapSubsGroupToChannelMap">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/MapSubsGroupToChannelMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetGlobalSetting">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/SetGlobalSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGlobalSetting">
      <soap12:operation soapAction="Microsoft.TV2.Oss.Channel/GetGlobalSetting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ChannelManagement">
    <wsdl:port name="ChannelManagementSoap" binding="tns:ChannelManagementSoap">
      <soap:address location="http://localhost/MSTV_WS/osschannel/ChannelManagement.asmx" />
    </wsdl:port>
    <wsdl:port name="ChannelManagementSoap12" binding="tns:ChannelManagementSoap12">
      <soap12:address location="http://localhost/MSTV_WS/osschannel/ChannelManagement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>